*{margin:0; padding: 0;}
.root{
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
}
/* -- --*/
.top{
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #FF432E;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.middle{
    position: relative;
    width: 100%;
    height: 70%;
    background-color:  #F5DF65;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.footer{
    position: relative;
    width: 100%;
    height: 15%;
    background-color:  #424242;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* -- --*/
.top h1{
    font-weight: bold;
    width: auto;
    background-color: red;
    color: yellow;
    border: 1px solid yellow;
    font-size: 50px;
    margin-left: 1%;
    border-radius: 5px;
}
/* -- --*/

.instagram_search{
    margin-top: 5%;
    text-align: center;
}
form{
    width: 40%;
    height: 25%;
    margin-left: 30%;
    background-color: #FF432E;
    margin-top: 1%;
    border-radius: 5px;
}
form input{
    width: 70%;
    height: 25%;
    margin-top: 2%;
    font-size: 15px;
    text-align: center;
}
form button{
    width: 40%;
    height: 25%;
    margin-top: 1%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.logout{
    width: 100%;
    height: 40%;
    margin-top: 1%;
    margin-left: -20%;
    cursor: pointer;
    background-color:#F5DF65 ;
    border: 1px solid #F5DF65;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
}
.saved{
    width: 40%;
    height: 10%;
    margin-left: 30%;
    background-color: #FF432E;
    margin-top: 1%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transform: scale(0.9);
    color: black;
}
.saved:hover{
    transform: scale(1);
}
/*-- --*/
.footer img{
    width: 50px;
    height: 50px;
    margin-left: -20%;
}
.info{
    margin-left: 1%;
}
.deleteAccount{
    width: 40%;
    height: 25%;
    margin-left: 30%;
    background-color: #FF432E;
    margin-top: 1%;
    border-radius: 5px;
    align-items: center;
}
.deleteAccount button{
    width: 100%;
    height: 100%;
    background-color: #FF432E;
    border: 1px solid #FF432E;
    border-radius: 5px;
    font-size: 10px;
}
