*{margin:0; padding: 0;}
.root{
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
}
/* -- --*/
.top{
    width: 100%;
    height: 15%;
    background-color: #FF432E;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.middle{
    width: 100%;
    height: 70%;
    background-color:  #F5DF65;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.footer{
    width: 100%;
    height: 15%;
    background-color:  #424242;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* -- --*/
.top h1{
    font-weight: bold;
    width: auto;
    background-color: red;
    color: yellow;
    border: 1px solid yellow;
    font-size: 50px;
    margin-left: 1%;
    border-radius: 5px;
}
/* -- --*/

.logout{
    width: 100%;
    height: 40%;
    margin-top: 1%;
    margin-left: -20%;
    cursor: pointer;
    background-color:#F5DF65 ;
    border: 1px solid #F5DF65;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
}

.profiles{
    margin-top: 1%;
    margin-left: 10%;
    width: 40%;
    height: 80%;
    background-color: #FF432E;
    margin-left: 30%;
    border-radius: 5px;
}
@media(max-width: 500px){
    .profiles{
        height: 97%;
    }
}
a{
    text-decoration: none;
}
/*-- --*/
.footer img{
    width: 50px;
    height: 50px;
    margin-left: -20%;
}
.info{
    margin-left: 1%;
}